* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: hsl(212, 45%, 89%);
    color: #333;
}

.container {
    width: 80%;
    max-width: 400px;
    padding: 20px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.input #input {
    width: 100%;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.input #button {
    
    padding: 10px 30px;

    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;

    color: #fff;
    background: #58a6ff;
    font-weight: 700;
}
.input #button:hover,
.input #button:focus {
    background: #3c8aff;
    /* insert transition */
    transition: all 0.2s ease;
}

.qr-code {
    display: none;
    padding: 20px;
}
.qr-code--show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.qr-code--show img {
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1/1;  /* To ensure it is a square when loading img */
}
